<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
            <h1 class="display-4">Alpha Blog</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
            </div>
        </div>
    </div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
</footer>